body {
    display: flex;
    flex-flow: column wrap;
    background-color: #c6ccfe;
}

div {
    background-color: #5567fe;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: 300px;
    padding: 20px;
    border-radius: 15%;
    text-align: center;
}
img {
    background-color:#ffffff;
    border-radius: 50%
}
